body {
	width: 100%;
	height: 100%;
	background-image: url("images/gidonmeesterwerk.png")
}

h1 {
	color: purple;
}
.MainTitle {
	margin: 5% 42% 7%;
}

.Left {
	margin-left: 20%;
	width:110px;
}
.Mid {
	margin-left: 50%;
	margin-top: -5%;
	width:40px;
}
.Right {
	margin-left: 80%;
	margin-top: -3%;
	width:67px;
}
.Link {
  	overflow: hidden;
  	border-style: solid;
	border-color: #0094ff;
	border-radius: 5px;
}

.Link a {
  	display: block;
  	text-align: center;
  	text-decoration: none;
}

.Link a:hover {
  	background: #7F97CD;
  	color: black;
}

.scrol {
	margin-left: 41%;
	width: 400px;
	height: 175px;
	border-style: solid;
	border-color: black;
	background-image: url("images/AlastorDelete.png");
}
.Galery {
	width: 100%;
	height: 100%;	
	display:none;
}

.Rarrow {
	margin-top: : 50%;
	margin-left: 19.4%;
	position: absolute;
}

.Larrow {
	margin-top: : 50%;
	position: absolute;
}
